@model Hieu_TMDT.DANH_MUC

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DANH_MUC</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_DM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_DM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_DM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
