@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        <p style="font-size:15px; padding:10px;">
            <b style="font-size:20px;"> Rosie Million's Store</b><br /><br />
            Trong cuộc sống nhộn nhịp và hiện đại, mua sắm online không còn gì lạ lẫm đối với chúng ta.
            Tuy nhiên,  mua hàng thế nào để có một món hàng vừa ý trên một không gian "ảo" là cả một "nghệ thuật".
            <b>Rosie Million shop được thành lập từ tháng 10/2015</b>
            - Với phương châm <b>"LẤY CHỮ TÍN LÀM ĐẦU"</b>mong muốn sẽ trở thành một địa chỉ online tin cậy
            cho quý khách hàng gần xa,giúp quý khách mua sắm tiết kiệm thời gian, chi phí, không phải băn khoăn về giá cả cũng như chất lượng sản phẩm
            -Nếu có thắc mắc quý khách hãy gọi, hoặc chat trực tiếp trên website cho chúng tôi để nhận được sản phẩm hoặc tư vấn một cách nhanh nhất
            <center><img src="~/Image/about.jpg" width="700" /></center>

        </p>

    </div>
</div>
<script src="~/MyScript/ViewModelScript/HomeViewModel.js"></script>

